@import '../../../../styles/variables';
.internal-error-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 10vw;
  @include media-xs{
    padding-top: 30vw;
  }
  @include media-sm{
    padding-top: 30vw;
  }
  &__text{
    margin-bottom: 100px;
    text-align: center;
    @include media-xs{
      margin-bottom: 57px;
    }
    h1{
      font-size: 12.5rem;
      color: transparentize($color: $gray, $amount: 0.74);
      margin-bottom: 0;
      @include media-xs{
        font-size: 6.25rem;
      }
    }
    h2{
      font-size: 4.625rem;
      color: $light-gray;
      margin-top: -86px;
      @include media-xs{
        font-size: 2rem;
        margin-top: -41px;
      }
    }
    P{
      color: $text-color;
      span{
        color: $dark-green;
        font-weight: bold;
      }
    }
  }
}
