@import '../../../../variables';
.secondary-button{
  position: relative;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  border: 1px solid $gray;
  padding: 0.875em 1.25em;
  overflow: hidden;
  z-index: 1;
  font-size: 1rem;
  @include media-xs{
    padding: 0.75em 1.25em 0.75em 0.875em;
  }
  svg{
    width: 1.25rem;
    height: auto;
    margin-right: 8px;
    fill: $light-gray;
    transition: fill .3s;
  }
  span{
    color: $light-gray;
    transition: color .3s;
    @include media-xs{
      font-size: 1rem;
    }
  }
  &::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: white;
    transition: width .5s ease-in-out;
    z-index: -1;
  }
  &:hover{
    &::after{
      width: 100%;
    }
    span{
      color: $gray;
    }
    svg{
      fill: $bg-color;
    }
  }

}

.not-found-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 10vw;
  @include media-xs{
    padding-top: 30vw;
  }
  @include media-sm{
    padding-top: 30vw;
  }
  .not-found-container__text{
    margin-bottom: 100px;
    text-align: center;
    @include media-xs{
      margin-bottom: 57px;
    }
    h1{
      font-size: 12.5rem;
      color: transparentize($color: $gray, $amount: 0.74);
      margin-bottom: 0;
      @include media-xs{
        font-size: 6.25rem;
      }
    }
    h2{
      font-size: 4.625rem;
      color: $light-gray;
      margin-top: -86px;
      @include media-xs{
        font-size: 2rem;
        margin-top: -41px;
      }
    }
  }
}
