<div class="enter-password-container">
  <h1>Enter new <br> password?</h1>
  <div class="content">
    <div class="form-container">
      <div class="form-group extra-spacing">
        <label for="password">Password</label>
        <div class="custom-input-w-icon custom-input-password">
          <input id="password" type="password" placeholder="Password">
          <span class="focusIndicator"></span>
        </div>
      </div>
      <div class="form-group extra-spacing">
        <label for="repeatPassword">Repeat password</label>
        <div class="custom-input-w-icon custom-input-password">
          <input id="repeatPassword" type="password" placeholder="Repeat password">
          <span class="focusIndicator"></span>
        </div>
      </div>
          <div class="form-group upper-spacing-m">
            <button class="primary-btn">Reset</button>
          </div>
      </div>
  </div>
</div>
