@font-face {
    font-family: 'PTSans-Regular';
    src: url('./assets/fonts/PTSans-Regular.ttf'); 
}
@font-face {
    font-family: 'PTSans-Bold';
    src: url('./assets/fonts/PTSans-Bold.ttf'); 
}
@font-face {
    font-family: 'PTSans-BoldItalic';
    src: url('./assets/fonts/PTSans-BoldItalic.ttf'); 
}
@font-face {
    font-family: 'PTSans-Italic';
    src: url('./assets/fonts/PTSans-Italic.ttf'); 
}

@font-face {
    font-family: 'Material Icons Regular';
    font-style: normal;
    font-weight: 400;
    src: url(./assets/fonts/MaterialIcons-Regular.ttf);
}
@font-face {
    font-family: 'Material Icons Round Regular';
    font-style: normal;
    font-weight: 400;
    src: url(./assets/fonts/MaterialIconsRound-Regular.otf);
}
@font-face {
    font-family: 'Material Icons Sharp Regular';
    font-style: normal;
    font-weight: 400;
    src: url(./assets/fonts/MaterialIconsSharp-Regular.otf);
}
@font-face {
    font-family: 'Material Icons Outlined Regular';
    font-style: normal;
    font-weight: 400;
    src: url(./assets/fonts/MaterialIconsOutlined-Regular.otf);
}
@font-face {
    font-family: 'Material Icons TwoTone Regular';
    font-style: normal;
    font-weight: 400;
    src: url(./assets/fonts/MaterialIconsTwoTone-Regular.otf);
}