<section class="shared-panel">
  <table>
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Book 4</td>
        <td>3 Sept</td>
        <td>velid.duranovic@edu.fit.ba</td>
      </tr>
      <tr>
        <td>Working timesheet - Velid (the …</td>
        <td>1 May</td>
        <td>Shared</td>
      </tr>
      <tr>
        <td>Valtech</td>
        <td>1 May</td>
        <td>salvedin@valtech.com</td>
      </tr>
      <tr>
        <td>Velid @ Infinity Mesh doo</td>
        <td>17 Sept 2019</td>
        <td>admir@infinitymesh.com</td>
      </tr>
      <tr>
        <td>Book 4</td>
        <td>3 Sept</td>
        <td>velidprivate@gmail.com</td>
      </tr>
      <tr>
        <td>Working timesheet - Velid (the …</td>
        <td>1 May</td>
        <td>admir@infinitymesh.com</td>
      </tr>
      <tr>
        <td>Valtech</td>
        <td>1 May</td>
        <td>velid.duranovic@edu.fit.ba</td>
      </tr>
      <tr>
        <td>Velid @ Infinity Mesh doo</td>
        <td>17 Sept 2019</td>
        <td>admirmujkic@infinitymesh.com</td>
      </tr>
    </tbody>
  </table>
</section>
