<div class="forgot-password">
  <h1>Forgot your <br> password?</h1>
  <div class="forgot-password__content">
    <div class="intro-text">
      <p>Enter your email and we will send you instructions
        to reset your password</p>
    </div>
    <div class="forgot-password__form-container">
          <div class="form-group extra-spacing">
            <div class="custom-input-w-icon custom-input-email">
              <label for="email" class="hide-visually">Email</label>
              <input id="email" name="email" type="text" placeholder="Email" autocomplete="off">
              <span class="focusIndicator"></span>
            </div>
          </div>
          <div class="form-group">
            <button class="primary-btn">Send</button>
          </div>
      </div>
  </div>
</div>
