<div class="authorized-lay">
  <app-aside (isCreateNewDocumentModalOpened)="isCreateNewDocumentModalChange($event)"></app-aside>
  <main>
    <app-header></app-header>
    <div class="main-content">
      <router-outlet></router-outlet>
      <div class="create-new-document-container" *ngIf="isVisibleCreateDocumentModal">
          <form class="create-document-inner-container" [formGroup]="documentForm" (ngSubmit)="onSubmit()">
            <button type="button" class="close-modal-icon" (click)="closeCreateDocumentModalVisibillity()">
              <img src="/assets/ionic-md-close.svg" alt="Close modal">
            </button>
            <div class="form-container">
              <form [formGroup]="documentForm">
                <div class="form-group">
                  <label>Select type of document</label>
                  <ul>
                    <li class="selected">
                        <label for="quiz-document" (click)="documentTypeClick($event)" tabindex="0">
                          <img class="black" src="/assets/Quiz - black.svg" alt="Add icon" tabindex="-1">
                          <img class="original" src="/assets/Quiz - original.svg" alt="Add icon" tabindex="-1">
                        </label>
                        <input type="radio" id="quiz-document" name="type" value="quiz" formControlName="type">
                    </li>
                    <li>
                        <label for="vote-document" (click)="documentTypeClick($event)" tabindex="0">
                          <img class="black" src="/assets/Vote - black.svg" alt="Vote black icon" tabindex="-1">
                          <img class="original" src="/assets/Vote - original.svg" alt="Vote selected icon" tabindex="-1">
                        </label>
                        <input type="radio" id="vote-document" name="type" value="vote" formControlName="type">
                    </li>
                    <li>
                        <label for="poll-document" (click)="documentTypeClick($event)" tabindex="0">
                          <img class="black" src="/assets/Poll - black.svg" alt="Poll black icon" tabindex="-1">
                          <img class="original" src="/assets/Poll - original.svg" alt="Poll selected icon" tabindex="-1">
                        </label>
                        <input id="poll-document" type="radio" name="type" value="poll" formControlName="type">
                    </li>
                    <li>
                        <label for="survey-document"  (click)="documentTypeClick($event)" tabindex="0">
                          <img class="black" src="/assets/Survey - black.svg" alt="Survey black icon" tabindex="-1">
                          <img class="original" src="/assets/Survey - original.svg" alt="Survey selected icon" tabindex="-1">
                        </label>
                        <input id="survey-document" type="radio" name="type" value="survey" formControlName="type">
                    </li>
                  </ul>
                </div>
                <div class="form-group form-group-with-label" [ngClass]="{'not-valid-control': documentForm.controls['name'].touched && documentForm.controls['name'].invalid}">
                    <div class="error-msg-group">
                      <span *ngIf="documentForm.controls['name'].errors?.required">You need to enter a name!</span>
                    </div>
                    <label for="document_name">Choose a name for document</label>
                    <div class="custom-input-w-icon no-icon">
                      <input required id="document_name" name="document_name" type="text" placeholder="Enter a name" autocomplete="off" formControlName="name">
                      <span class="focusIndicator"></span>
                    </div>
                </div>
                <div class="form-group">
                  <button class="primary-btn" [disabled]="documentForm.invalid">Create</button>
                </div>
              </form>
            </div>
          </form>
      </div>
    </div>
  </main>
  <nav class="mobile-nav">
    <ul>
      <li>
        <a href="#">
          <img src="/assets/ionic-ios-menu.svg" alt="Menu icon">
        </a>
      </li>
      <li>
        <button (click)="openCreateDocumentModalVisibillity()">
          <img src="/assets/add-icon-green.svg" alt="Add icon">
        </button>
      </li>
      <li>
        <a href="#" class="user-profile-icon white">VD</a>
      </li>
    </ul>
  </nav>
</div>
