@import '../../../../variables';

.authorized-lay{
  display: flex;
  height: 100vh;
  @include media-xs{
    flex-direction: column;
    max-height: 100vh;
  }
  main{
    flex-grow: 1;
    max-height: 100vh;
    padding: 0 50px;
    width: 100%;
    overflow: hidden;
    header{
      position: sticky;
      top: 0;
      &.header-desktop{
        padding-top: 29px;
        @include media-xs{
          display: none;
        }
        ul{
          display: flex;
          align-items: center;
          justify-content: flex-end;
          li{
            text-align: right;
            &:first-child{
              flex-grow: 1;
              text-align: center;
            }
            img{
              transform: translateY(-10px);
            }
          }
        }
      }
    }
    .main-content{
      overflow: auto;
      height: 100%;
    }
  }
  .mobile-nav{
    display: none;
    border-top: 1px solid $gray;
    @include media-xs{
      display: block;
    }
    ul{
      padding: 20px;
      margin: 0;
      display: flex;
      align-items: center;
      li{
        flex-grow: 1;
        text-align: center;
        &:first-child{
          text-align: left;
        }
        &:last-child{
          text-align: right;
        }
        .user-profile-icon{
          padding: 10px;
        }
      }
    }
  }
  .create-new-document-container{
    width: 100%;
    height: 100%;
    background-color: rgba(28, 30, 36, 92%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    ul{
      display: flex;
      padding: 0;
      margin-top: 22px;
      li{
        margin-right: 26px;
        button{
          padding: 0;
          margin: 0;
          background: none;
          border: none;
        }
      }
    }
    .create-document-inner-container{
      position: relative;
      width: 100%;
      height: 100%;
      .close-modal-icon{
        position: absolute;
        right: 100px;
        top: 100px;
        background: none;
        border: none;
      }
      .form-container{
        width: 573px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        label, p{
          color: $text-color;
          display: block;
          opacity: 1;
          position: relative;
        }
        .primary-button{
          padding: 11px 16px;
        }
      }
    }
  }
}


