@font-face {
    font-family: 'PTSans-Regular';
    src: url('./assets/fonts/PTSans-Regular.ttf'); 
}
@font-face {
    font-family: 'PTSans-Bold';
    src: url('./assets/fonts/PTSans-Bold.ttf'); 
}
@font-face {
    font-family: 'PTSans-BoldItalic';
    src: url('./assets/fonts/PTSans-BoldItalic.ttf'); 
}
@font-face {
    font-family: 'PTSans-Italic';
    src: url('./assets/fonts/PTSans-Italic.ttf'); 
}