$bg-color: #1C1E24;
$primary-color: #00B980;
$dark-green: #007E57;
$text-color: #D3D3D3;
$gray: #7E7E7E;
$light-gray: #D1D1D1;
$dark-gray: #343434;
$light-blue: #007bff;

// Fonts
$font-PtSans: "PTSans-Regular";
$font-PtSans-Bold: "PTSans-Bold";
$font-PtSans-BoldItalic: "PTSans-BoldItalic";
$font-PtSans-Italic: "PTSans-Italic";


@import '_mixins';
