@import './fonts';
@import './variables';

body{
  background-color: $bg-color;
}
main{
  position: relative;
}
h1, h2, h3, h4, h5, h6, b, th{
  font-family: $font-PtSans-Bold;
}
span, label, p, a, i, div, section{
  font-family: $font-PtSans;
} 
button{
  border: none;
  background: none;
}
ul{
  list-style: none;
}
.hide-visually {
  border: 0 !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  opacity: 0 !important;
}
.hidden-mobile{
  @include media-xs{
    display: none !important;
  }
}
.hidden-desktop{
  display: none;
  @include media-xs{
    display: block;
  }
}
.custom-input-w-icon{
  position: relative;
  &::after{
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    left: 8px;
    top: 40%;
    transform: translateY(-50%);
    background-size: cover;
    background-repeat: no-repeat;
    @include media-xs{
      top: 50%;
    }
  }
  input{
    border: none;
    border-bottom: 1px solid #707070;
    background: none;
    width: 100%;
    color: white;
    padding-left: 40px;
    padding-bottom: 4px;
    @include media-xs{
      font-size: 12px;
      padding-left: 32px;
    }
    &::placeholder{
      color: $gray;
    }
    &:focus{
      outline: none;
      &~.focusIndicator{
        width: 100%;
      }
    }
    .not-valid-control &{
      border-color: $red;
      &~.focusIndicator{
        background-color: $red;
      }
    }
  }
  .focusIndicator{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    background-color: $primary-color;
    transition: width .8s ease-in-out;
  }
  &.custom-input-email{
    &::after{
      background-image: url('/assets/Icon feather-user.svg');
      @include media-xs{
        height: 12px;
        width: 12px;
      }
    }
  }
  &.custom-input-password{
    &::after{
      width: 18px;
      height: 18px;
      background-size: contain;
      background-image: url('/assets/Icon material-lock-outline.svg');
      @include media-xs{
        height: 14px;
        width: 14px;
      }
    }
  }
  &.custom-input-search{
    margin: 10px 0;
    width: 30%;
    @include media-xs{
      width: 100%;
    }
    input{
      padding-left: 30px;
    }
    &::after{
      top: 50%;
      height: 12px;
      width: 12px;
      background-image: url('/assets/ionic-ios-search.svg');
    }
  }
  &.no-icon{
    input{
      padding-left: 0;
    }
    &::after{
      content: none;
    }
  }
}
.custom-checkbox{
  display: flex;
  align-items: center;
  .checkbox-wrapper{
    position: relative;
    display: inline-block;
    width: 21px;
    height: 21px;
    input{
      appearance: none;
      width: 100%;
      height: 100%;
      background: $dark-gray;
      border-radius: 4px;
      &:checked{
        &+.checkmark{
          pointer-events: none;
          position: absolute;
          background-image: url('/assets/ionic-md-checkmark-green.svg');
          background-repeat: no-repeat;
          left: 50%;
          top: 58%;
          transform: translate(-50%, -50%);
          width: 10px;
          height: 10px;
          background-size: contain;
        }
      }
    }
    margin-right: 16px;
  }
  label{
    opacity: 1;
    position: relative;
    color: $text-color;
    margin-bottom: 0;
    @include media-xs{
      font-size: 12px;
    }
  }
}
.custom-textarea{
  background-color: #24262E;
  border: 1px solid $gray;
  color: $gray;
  padding: 18px;
  transition: outline .3s;
  min-height: 70px;
  max-height: 200px;
  &:focus{
    outline: none;
    border-color: $primary-color;
  }
}
.custom-image-uploader{
  width: 27.625rem;
  position: relative;
  text-align: center;
  &:focus-within{
    border: 1px solid $dark-green;
  }
  cursor: pointer;
  input{
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
  }
  &__text{
    padding-top: 2rem;
    p{
      margin-bottom: 0;
      color: $gray;
      font-size: 0.875rem;
    }
  }
  &__placeholder{
    border: 1px solid $gray;
    padding-top: 3rem;
    height: 15rem;
  }
  &__real-image{
    text-align: left;
    img{
      width: 100%;
      height: 240px;
      border: 1px solid $gray;
      object-fit: cover;
    }
    .secondary-button{
      margin-top: 52px;
    }
  }
  &--image-uploaded{
    cursor: auto;
    &:focus-within{
      outline: none;
      border: none;
    }        
      input{
        pointer-events: none;
      }
  }
}
.primary-btn{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  background-color: $primary-color;
  color: white;
  border: none;
  border-radius: 10px;
  width: 100%;
  padding: 0.8em;
  line-height: 1.5rem;
  transition: background-color .3s;
  &:hover, &:focus{
    background-color: transparentize($color: $primary-color, $amount: 0.5);
  }
  &[disabled]{
    background-color: transparentize($color: $primary-color, $amount: 0.5);
    color: gainsboro;
  }
  @include media-xs{
    font-size: 1rem;
    line-height: 1.375em;
    padding: 0.75em 1em;
  }
}
.form-group{
  position: relative;
  max-width: 573px;
  margin-bottom: 46px;
}
.user-profile-icon{
  display: inline-block;
  position: relative;
  border-radius: 100%;
  color: white;
  padding: 0.875rem;
  transition: opacity 0.3s;
  &:hover{
    color: white;
    text-decoration: none;
    opacity: 0.7;
  }
  &.green{
    background-color: #007E57;
  }
  &.white{
    border: 1px solid $gray;
  }
}
a{
  color: $primary-color;
}
.loading-spinner {
  &.overlay {
      &:before {
          content: "";
          height: 100%;
          background-color: transparentize($color:$bg-color, $amount: 0.1) ;
          opacity: 1;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 99;
      }
  }

  &:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 100;
      width: 64px;
      height: 64px;
      margin-left: -32px;
      margin-top: -32px;
      border: 1px solid $text-color;
      border-radius: 50%;
      border-left-color: transparent;
      border-right-color: transparent;
      animation: cssload-spin 800ms infinite linear;
  }

  $i: 12;

  @while $i <= 64 {
      &.size-#{$i} {
          &:after {
              height: #{$i}px;
              width: #{$i}px;
              margin-left: -#{$i / 2}px;
              margin-top: -#{$i / 2}px;
          }
      }

      $i: $i + 2;
  }
}
.secondary-button{
  position: relative;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  border: 1px solid $gray;
  padding: 0.875em 1.25em;
  overflow: hidden;
  z-index: 1;
  font-size: 1rem;
  text-transform: none;
  @include media-xs{
    padding: 0.75em 1.25em 0.75em 0.875em;
  }
  svg{
    width: 1.25rem;
    height: auto;
    margin-right: 8px;
    fill: $light-gray;
    transition: fill .3s;
  }
  span{
    color: $light-gray;
    transition: color .3s;
    @include media-xs{
      font-size: 1rem;
    }
  }
  &::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: white;
    transition: width .5s ease-in-out;
    z-index: -1;
  }
  &:hover{
    text-decoration: none;
    &::after{
      width: 100%;
    }
    span{
      color: $gray;
    }
    svg{
      fill: $bg-color;
    }
  }

}

@keyframes cssload-spin {
  100% {
      transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

.panels{
  height: 80vh;
  overflow: hidden;
  .custom-input-w-icon{
    display: inline-block;
    @include media-xs{
      margin-bottom: 1rem;
    }
    input, textarea{
      font-size: 14px;
    }
  }
  table{
    width: 100%;
    tbody{
      tr{
        border-bottom: 1px solid transparentize($color: #868686, $amount: 0.56);
        color: $gray;
        transition: background-color .3s, color .3s;
        &:last-child{
          border: none;
        }
        td{
          position: relative;
          padding: 13px 0;
          font-size: 12px;
          &:first-child{
            width: 50%;
            span{
              display: inline-block;
              transition: transform .5s;
            }
          }
          &:nth-child(2){
            width: 20%;
          }
          &:nth-child(3){
            width: 30%;
          }
        }
        &:hover, &:focus, &:focus-within{
          cursor: pointer;
          background-color: gainsboro;
          td{
            color: black;
            &:first-child{
              span{
                transform: translateX(16px);
              }
            }
          }
          .options{
            display: block;
          }
        }
        .options{
          user-select: auto;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          right: 20px;
          display: none;
          li{
            display: inline-block;
            margin-right: 8px;
            &:hover{
              a{
                background-color: rgb(194, 194, 194)
              }
            }
            a{
              padding: 4px 10px;
              border-radius: 100%;
            }
            svg{
              transition: transform .2s ease-out, fill .3s;
            }
            &.pinned{
                  svg{
                    fill: $dark-green;
                    transform: rotate(-28deg);
                  }
            }
          }
        }
      }
    }
  }
  .no-documents-message{
    text-align: center;
    padding-top: 60px;
    h2{
      color: transparentize($color: $gray, $amount: 0.4);
      font-size: 24px;
    }
    img{
      width: 40px;
      height: auto;
      margin-bottom: 30px;
    }
  }
}

.error-msg-group{
  position: absolute;
  top: -20px;
  right: 0;
  display: none;
  @include media-xs{
    font-size: -25px;
  }
  span{
    font-size: 14px;
    display: inline-block;
    color: white;
    margin-right: 8px;
    background-color: $red;
    padding: 2px 8px;
    border-radius: 5px;
    @include media-xs{
      font-size: 10px;
    }
  }
  .not-valid-control &{
    display: block;
  }
}
