<div class="sign-up">
  <h1>Sign up</h1>
  <div class="sign-up__content">
    <div class="sign-up__form-container">
      <form method="POST" [formGroup]="signUpForm">
        <div class="form-group">
          <div class="custom-input-w-icon custom-input-email">
            <label for="email" class="hide-visually">Email</label>
            <input id="email" name="email" type="text" placeholder="Email" autocomplete="off" formControlName="email">
            <span class="focusIndicator"></span>
          </div>
        </div>
        <div class="form-group">
          <div class="custom-input-w-icon custom-input-password">
            <label for="password" class="hide-visually">Password</label>
            <input id="password" type="password" placeholder="Password" autocomplete="off" formControlName="password">
            <span class="focusIndicator"></span>
          </div>
        </div>
        <div class="form-group">
          <div class="custom-input-w-icon custom-input-password">
            <label for="repeatPassword" class="hide-visually">Repeat password</label>
            <input id="repeatPassword" type="password" placeholder="Repeat password" autocomplete="off"
              formControlName="repeatPassword">
            <span class="focusIndicator"></span>
          </div>
        </div>
        <div class="form-group">
          <button class="primary-btn">Sign up</button>
        </div>
        <div class="form-footer">
          <p>Already have an account? <a [routerLink]="['/sign-in']">Sign in</a></p>
        </div>
      </form>
    </div>
    <div class="sign-up__right-section">
      <h2 aria-hidden="true">or</h2>
      <p aria-hidden="true">or use email to sign up</p>
      <div class="sign-up__authentification-methods">
        <ul role="list" title="Authentification">
          <li><a href="#"> <img src="assets/Google.svg" alt="Google"></a></li>
          <li><a href="#"><img src="assets/Windows.svg" alt="Microsoft"></a></li>
          <li><a href="#"><img src="assets/Linkedin.svg" alt="Linkedin"></a></li>
          <li><a href="#"><img src="assets/Facebook.svg" alt="Facebook"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>