<div class="enter-password">
  <h1>Enter new <br> password?</h1>
  <div class="enter-password__content">
    <div class="enter-password__form-container">
      <div class="form-group extra-spacing">
        <div class="custom-input-w-icon custom-input-password">
          <label for="password" class="hide-visually">Password</label>
          <input id="password" type="password" placeholder="Password" autocomplete="off">
          <span class="focusIndicator"></span>
        </div>
      </div>
      <div class="form-group extra-spacing">
        <div class="custom-input-w-icon custom-input-password">
          <label for="repeatPassword" class="hide-visually">Repeat password</label>
          <input id="repeatPassword" type="password" placeholder="Repeat password" autocomplete="off">
          <span class="focusIndicator"></span>
        </div>
      </div>
          <div class="form-group upper-spacing-m">
            <button class="primary-btn">Reset</button>
          </div>
      </div>
  </div>
</div>
