<div class="enter-password">
  <h1>Enter new <br> password?</h1>
  <div class="enter-password__content">
    <div class="enter-password__form-container">
      <form method="POST" [formGroup]="formGroup">
        <div class="form-group extra-spacing" [ngClass]="{'not-valid-control': formGroup.controls['password'].touched && formGroup.controls['password'].invalid}">
          <div class="error-msg-group">
            <span *ngIf="formGroup.controls['password'].errors?.required">Password is required!</span>
            <span *ngIf="formGroup.controls['password'].errors?.pattern">Password is not valid!</span>
          </div>
          <div class="custom-input-w-icon custom-input-password">
            <label for="password" class="hide-visually">Password</label>
            <input id="password" type="password" placeholder="Password" autocomplete="off" formControlName="password">
            <span class="focusIndicator"></span>
          </div>
        </div>
        <div class="form-group extra-spacing" [ngClass]="{'not-valid-control': formGroup.controls['repeatPassword'].touched && formGroup.controls['repeatPassword'].invalid}">
          <div class="error-msg-group">
            <span *ngIf="formGroup.controls['repeatPassword'].errors?.required">Repeat password is required!</span>
            <span *ngIf="formGroup.controls['repeatPassword'].errors?.mustMatch">Repeat password needs to be the same as password</span>
          </div>
          <div class="custom-input-w-icon custom-input-password">
            <label for="repeatPassword" class="hide-visually">Repeat password</label>
            <input id="repeatPassword" type="password" placeholder="Repeat password" autocomplete="off" formControlName="repeatPassword">
            <span class="focusIndicator"></span>
          </div>
        </div>
        <div class="form-group upper-spacing-m">
          <button class="primary-btn" [disabled]="formGroup.invalid">Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>