@import '../../../../../../variables';

.add-option-container{
    margin-top: 30px;
    position: relative;
    height: auto;
    width: 352px;
    text-align: right;
    .custom-input-w-icon{
        width: calc(100% - 61px);
        margin-right: 33px;
    }
    button{
        img{
            width: 16px;
        }
    }
}

p{
    margin-top: 24px;
    color: $gray
}
ul{
    margin-top: 28px;
    padding: 0;
    max-width: 50%;
    li{
        margin-bottom:18px;
        display: flex;
        p{
            flex: 1;
            margin: 0;
            font-size: 14px;
        }
    }
}