@import '../../../../../../variables';

.add-option-container{
    margin-top: 30px;
    position: relative;
    height: auto;
    width: 352px;
    text-align: right;
    &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 1px;
        width: calc(100% - 70px);
        border: 1px solid #707070;
    }
}
p{
    margin-top: 24px;
    color: $gray
}
ul{
    margin-top: 28px;
    padding: 0;
    max-width: 50%;
    li{
        margin-bottom:18px;
        display: flex;
        p{
            flex: 1;
            margin: 0;
        }
    }
}