<div class="documents-container">
  <ul class="tabs">
      <li [routerLinkActive]="'active'">
          <button [routerLink]="['edit']">
            <span tabindex="-1">General</span>
          </button>
      </li>
      <li [routerLinkActive]="'active'">
        <button  [routerLink]="['options']">
          <span tabindex="-1">Options</span>
        </button>
    </li>
      <li  [routerLinkActive]="'active'">
          <button [routerLink]="['preview']">
            <span tabindex="-1">Preview</span>
          </button>
      </li>
  </ul>
  <div class="panels" style="color: white;">
    <router-outlet></router-outlet>
  </div>
</div>

