<div class="documents-container">
  <ul class="tabs">
      <li  [ngClass]="activePanel=='general' ? 'active' : ''">
          <button (click)="setActivePanel('general')" [routerLink]="['edit']">
            <span tabindex="-1">General</span>
          </button>
      </li>
      <li  [ngClass]="activePanel=='options' ? 'active' : ''">
        <button (click)="setActivePanel('options')" [routerLink]="['options']">
          <span tabindex="-1">Options</span>
        </button>
    </li>
      <li [ngClass]="activePanel=='preview' ? 'active' : ''">
          <button (click)="setActivePanel('preview')" [routerLink]="['preview']">
            <span tabindex="-1">Preview</span>
          </button>
      </li>
  </ul>
  <div class="panels" style="color: white;">
    <router-outlet></router-outlet>
  </div>
</div>

