<aside class="asside-desktop">
  <nav>
    <ul>
      <li>
        <button (click)="isCreateNewDocumentModalEmit(true)">
          <img src="/assets/add-icon.svg" alt="Add icon">
        </button>
        <div class="custom-tooltip">
          Add new document
        </div>
      </li>
      <li>
        <a [routerLink]="['specs']">
          <img src="/assets/quiz-black-icon.svg" alt="Add icon">
        </a>
        <div class="custom-tooltip">
          Quiz
        </div>
      </li>
      <li>
        <a href="#">
          <img src="/assets/Survey - black-2.svg" alt="Add icon">
        </a>
        <div class="custom-tooltip">
          Survey
        </div>
      </li>
      <li>
        <a href="#">
          <img src="/assets/poll-black-icon.svg" alt="Add icon">
        </a>
        <div class="custom-tooltip">
          Poll
        </div>
      </li>
      <li>
        <a href="#">
          <img src="/assets/Survey - black.svg" alt="Add icon">
        </a>
        <div class="custom-tooltip">
          Survey
        </div>
      </li>
    </ul>
  </nav>
</aside>
