@import '../../../../styles/variables';
.sign-in{
  padding: 4.125rem 7.9375rem;
  @include media-xs{
    padding: 4.125rem 1.625rem;
  }
  h1{
    color: white;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    @include media-xs{
      font-size: 2.25rem;
    }
  }
  &__content{
    display: flex;
    flex-direction: row;
    @include media-xs{
      flex-direction: column;
    }
    h2{
      font-size: 3rem;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      margin-right: 40%;
    }
    .sign-in__form-container{
      padding-top: 2.75rem;
      width: 90%;
      padding-left: calc(22.5rem - 7.9375rem);
      padding-right: 7rem;
      @include media-xs{
        padding: 2.75rem 0;
        order: 2;
        width: 100%;
      }
      .form-footer{
        p{
          color: $gray;
          font-size: 1rem;
          margin-bottom: 12px;
          @include media-xs{
            font-size: 0.75rem;
            margin-bottom: 8px;
          }
          a{
            font-weight: bold;
          }
        }
      }
    }
    .sign-in__right-section{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 30%;
      @include media-xs{
        flex-direction: column;
        order: 1;
        width: 100%;
        align-items: flex-start;
      }
      h2{
        @include media-xs{
          display: none;
        }
      }
      p{
        display: none;
        @include media-xs{
          font-size: 0.875rem;
          color: $gray;
          display: block;
          order: 2;
          margin-top: 16px;
        }
      }
      .sign-in__authentification-methods{
        padding: 2.5rem 0;
        border-left: 1px solid $gray;
        @include media-xs{
          padding: 0;
        }
        @include media-xs{
          border-left: none;
        }
        ul{
          @include media-xs{
            display: flex;
            padding: 1rem 0;
          }
          li{
            transition: opacity .3s;
            @include media-xs{
              margin-right: 14px;
            }
            &:hover{
              opacity: 0.6;
            }
            &:not(:last-child){
              margin-bottom: 25px;
              @include media-xs{
                margin-bottom: 0;
              }
            }
            img{
              @include media-xs{
                max-width: 2.687rem;
              }
            }
          }
        }
      }
    }
  }
}
